@charset "shift_jis";
/* CSS Document */

/* --------------------------------------------------
	BASE
-------------------------------------------------- */
html { color:#333; height:100%; }
body { color:#333; font-size:12px; line-height:1.5; 
		height:100%; margin:0px auto; 
		background:#fff;
		background:url(../images/common/BG.jpg) top repeat-x;
		height:100%; margin:0px auto; font-family:"Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;
}
		
strong { font-weight: bold; }
li img { vertical-align: bottom; }


a:link { color: #04c; text-decoration:none; }
a:visited { color: #04c; text-decoration:none; }
a:hover, a:active { color: #04c; text-decoration:underline; } 

#Footer a:link { color: #333; text-decoration:none; }
#Footer a:visited { color: #333; text-decoration:none; }
#Footer a:hover, a:active { color: #333; text-decoration:underline; } 

.small14 { font-size:14px; font-weight:normal; }



/* --------------------------------------------------
	0. menu
-------------------------------------------------- */


#GlobalNavi2 {
	height:54px;
	background:url(../images/common/GlobalNaviBG.png) repeat-x;
}
#GlobalNavi2 .menu {
	width:981px;
	margin:0 auto;
	text-align:left;
}
#GlobalNavi2 li {
	float:left;
	z-index:100;
}


*{
	margin:0;
	padding:0;
	list-style-type:none;
}
ul.menu li{
	width:196px;
	position:relative;
}
ul.menu li a{
	display:block;
	width:100%;
	height:100%;
	line-height:48px;
	font-weight:bold;
	color:#228048;
	text-decoration:none;
}
ul.menu li ul.sub{
	position:absolute;
}
ul.menu{
	zoom:1;
}
ul.menu:after {
	height:0;
	visibility:hidden;
	content:".";
	display:block;
	clear:both;
}
ul.menu ul li {
	clear:both;
	width:220px;
	height:48px;
	border:solid 1px #ccc;
	background:#fff;
	text-indent:10px;
	font-size:12px;
}
ul.menu ul li a:hover {
	background:#ccc;
}

/* --------------------------------------------------
	1. Header
-------------------------------------------------- */

#HeaderArea {
	 background:url(../images/HeaderBG.png) repeat-x;
	 height:107px;
}

#HeaderContents {
	width:980px;
	margin:0 auto;
	padding:20px 0 0 0;
}
#HeaderLogo {
	float:left;
	width:385px;
	padding:5px 0 0 0;
	font-size:10px;
}
#HeaderLogo img {
	padding:2px 0 0 0;
}
#HeaderLogo p {
	padding:2px 0 0 2px;
}

#HeaderRemoteNavi {
	float:left;
	width:590px;
	height:20px;
}
#HeaderRemoteNavi li {
	float:left;
	padding:0 22px 0 13px;
	font-size:10px;
	background:url(../images/LinkHead_off.png) no-repeat 0 2px;
}
#HeaderRemoteNavi li:hover {
	background:url(../images/LinkHead_on.png) no-repeat 0 2px;
}
#HeaderRemoteNavi a:link { color: #666; text-decoration:none; font-weight:bold; }
#HeaderRemoteNavi a:visited { color: #666; text-decoration:none; font-weight:bold; }
#HeaderRemoteNavi a:hover, a:active { color: #666; text-decoration:underline; font-weight:bold; } 


#HeaderTel {
	width:280px;
	float:left;
	font-size:10px;
}

#HeaderAction {
	float:right;
	width:300px;
	margin:10px 0 0 0;
}


/* --------------------------------------------------
	2. GlobalNavi
-------------------------------------------------- */

#GlobalNavi {
	clear:both;
	height:54px;
	background:url(../images/common/GlobalNaviBG.png) repeat-x;
}
#GlobalNavi ul {
	width:980px;
	margin:0 auto;
}
#GlobalNavi li {
	float:left;
}
/* --------------------------------------------------
	3. Body
-------------------------------------------------- */

#BodyArea {
	clear:both;
	width:980px;
	margin:15px auto 0;
}


/* NEW */
#BodyFeatureArea2 {
	clear:both;
	float:left;
	width:722px;
	margin:0 0 15px 0;
}

#BodyFeature2 {
	clear:both;
	margin:10px 0 0 0;
	text-align:left;
}
#BodyFeature2 li {
	float:left;
	width:232px;
	height:286px;
	margin:0 13px 0 0;
	background:url(../images/top/BodyFeatureBG.png);
}
#BodyFeature2 li.Last {
	margin:0;	
}

#BodyFeature2 h2 {
	margin:12px 0 15px 12px;
}

#BodyFeature2 p {
	padding:10px 12px 0 12px;
}
#BodyFeature2 .BodyFeatureLink {
	display:block;
	text-align:right;
	font-size:11px;
	color: #04c;
}
#BodyFeature2 .OwnerPhoto {
	margin:0 0 12px 12px;
	padding:10px 0 0 0;
}
#BodyFeature2 .OwnerPhoto img {
	border:solid 1px #ccc;
}
#BodyFeature2 .OwnerText {
	clear:both;
	padding:0 12px 0 12px;
	color:#228048;
	font-weight:bold;
}

#BannerTop {
	float:right;
	margin:10px 0 0 0;
}
#BannerTop li {
	text-align:center;
}

.BannerCEO p {
	margin:0 0 15px 2px;
}
.BannerCAI p {
	margin:0 0 0 8px;
	padding:0 0 10px;
	width:232px;
}

.BannerGakken p {
	margin:0 0 0 8px;
	padding:10px 0;
	width:232px;
	border:solid 2px #ccc;
}

#Banner {
	clear:both;
}
#Banner li {
	text-align:center;
}


#Topics {
	clear:both;
	float:right;
	width:350px;
	margin:20px 15px 10px 0;
	text-align:left;
	float:left;
}
#Topics h2 {
	margin:0 0 5px 0;
	font-size:18px;
	font-weight:bold;
	border-bottom:solid 2px #2a9c57;
}
#Topics h2 span {
	padding:0 0 0 14px;
	color:#333;
	font-size:12px;
}
#Topics dl {
	margin:0;
}
#Topics dt {
	clear:both;
	float:left;
	width:72px;
	font-size:90%;
	color:#333;
}
#Topics dd {
	float:left;
	width:276px;
	font-size:90%;
}
#Open {
	float:left;
	width:350px;
	margin:20px 0 10px 0;
	text-align:left;
	float:left;
}
#Open h2 {
	font-size:18px;
	font-weight:bold;
	border-bottom:solid 2px #2a9c57;
}
#Open h2 span {
	padding:0 0 0 14px;
	margin:5px 0 0 2px;
	font-size:12px;
}
.news {	
	margin:5px 0 0 2px;
}
.news dl {
}
.news dt {
	clear:both;
	float:left;
	width:55px;
	margin:0;
	font-size:90%;
}
.news dd {
	float:left;
	width:292px;
	font-size:90%;	
}

.Pagetop {
	clear:both;
	padding:40px 0 10px 0;
	text-align:right;
	font-size:11px;
}

/* --------------------------------------------------
	4. FotterArea
-------------------------------------------------- */

#FotterArea {
	clear:both;
	background:url(../images/FooterBG.png) repeat-x;
}
#FotterContents {
	margin:0 auto;
	padding:20px 0 0 0;
	width:980px;
	height:226px;
}

.FotterNavi {
	float:left;
	height:209px;
	margin:0 5px 0 0;
	padding:0 16px 0 0;
	background:url(../images/FooterContentsLineBG.png) no-repeat right;
}
.FotterNavi li {
	margin:0 0 0 5px;
	width:150px;
	padding:0 0 4px 8px;
	background:url(../images/FooterLinkHead01_off.png) no-repeat 0 4px;
	font-size:12px;
	text-align:left;
}
.FotterNavi li ul {
	margin:6px 0 0 2px;
}
.FotterNavi li ul li {
	margin:0 0 0 -4px;
	padding:0 0 4px 6px;
	background:url(../images/FooterLinkHead02_off.png) no-repeat 0 4px;
	font-size:10px;
}
.FotterNavi span {
	padding:0 2px 0 0;
	font-size:10px;
}
.FotterNavi a:link { color: #666; text-decoration:none; font-weight:bold; }
.FotterNavi a:visited { color: #666; text-decoration:none; font-weight:bold; }
.FotterNavi a:hover, a:active { color: #666; text-decoration:underline; font-weight:bold; } 
#FooterAction {
	float:right;
}
#FooterAction li {
	padding:0 0 1px 0;
}
#FooterAction li#FooterActionTel {
	padding:5px 0 0 0;
}
#FooterAction li#FooterActionLogo {
	padding:15px 0 0 0;
}
#FooterRemoteNavi {
	clear:both;
}
#FooterRemoteNavi li {
	float:left;
	padding:0 10px 0 0;
	font-size:10px;
}
#FooterRemoteNavi a:link { color: #fff; text-decoration:none; font-weight:bold; }
#FooterRemoteNavi a:visited { color: #fff; text-decoration:none; font-weight:bold; }
#FooterRemoteNavi a:hover, a:active { color: #fff; text-decoration:underline; font-weight:bold; } 

#Copyright {
	float:right;
	margin:3px 0 0 0;
}





/* --------------------------------------------------
	. SubPage
-------------------------------------------------- */
.SitePath {
	margin:0 0 20px 0;
	color:#666;
	font-size:10px;
}
.SitePath a {
	color:#999;
}

#BodyAreaLeft {
	float:left;
	width:700px;
}

#BodyAreaLeft h1 {
	height:35px;
	width:700px;
	margin:5px 0 10px 0;
	padding:8px 0 0 25px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	background:url(../images/common/TitleBG.png) no-repeat;
}
.CategoryTop #BodyAreaLeft p {
	line-height:2;
}

.CategoryTop .Visual {
	padding:0;
	margin:0 0 20px 0;
}
.CategoryTop .Visual img {
	border:solid 3px #ccc;
}
.CategoryTop #BodyAreaLeft .Copy {
	padding:5px 0 0 10px;
	font-weight:bold;
	font-size:16px;
	line-height:1.75;
}

#BodyAreaRight {
	float:right;
}
#BodyAreaRight #Banner {
	clear:both;
	margin:10px 0 0 0;
}

.CotegoryMenu  {
	clear:both;
	height:170px;
	padding:20px 0 0 10px;
}
.CotegoryMenu  li {
	float:left;
	height:170px;
	width:300px;
	padding:10px 15px 10px 15px;
	margin:0 10px 0 0;
	border:solid 1px #228048;
}
.CotegoryMenu  li:hover {
	background:#f0f0f0;
}
.CotegoryMenu  li a {
	color:#333;
}
.CotegoryMenu li a:hover {
	text-decoration:none;
	background:#ccc;
}
.CotegoryMenu  li h2 {
	margin:-10px -15px 5px -15px;
	padding:5px 10px 5px 10px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	border-bottom:solid 1px #228048;
	background:#228048;
}
.CotegoryMenu  li h2 span.small {
	display:inline;
	padding:0 3px 0 0;
	color:#fff;
	font-size:12px;
}
.CotegoryMenuImage {
	width:160px;
	float:left;
}
.CotegoryMenuImage img {
	border:solid 1px #ccc;
}


.CategoryTop #BodyAreaLeft .CotegoryMenu  li p {
	padding:10px 0 0 0;
	font-size:11px;
	font-weight:bold;
}

.CotegoryMenu li span {
	clear:both;
	display:block;
	padding:10px 0 0 0 ;
	text-align:right;
	font-weight:bold;
	color:#04c;
}



/* --------------------------------------------------
	. CotegoryPage
-------------------------------------------------- */

.CotegoryPage .Visual {
	padding:0;
	margin:0 0 20px 0;
}
.CotegoryPage .Visual img {
	border:solid 3px #ccc;
}

.CotegoryPage #BodyAreaLeft .BodyCopy {
	padding:10px 0 20px 0;
	font-size:16px;
	line-height:1.75;
	font-weight:bold;
	border:none;
}
.CotegoryPage #BodyAreaLeft h2 {
	font-weight:bold;
	font-size:14px;
}

/* --------------------------------------------------
	. AboutCai
-------------------------------------------------- */

.AboutCai.CotegoryPage #BodyAreaLeft .BodyCopy {
	padding:10px 0 0 0;
	font-size:16px;
	line-height:1.75;
	font-weight:bold;
	border:none;
}

.AboutCai.CotegoryPage #BodyAreaLeft h2 {
	margin:20px 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}
.CotegoryPage #BodyAreaLeft .Box {
	width:670px;
	display:block;
	margin:0 0 20px 0;
	padding:10px 15px 15px 15px;
	font-size:14px;
	border:solid 1px #ccc;
}
.CotegoryPage #BodyAreaLeft .Box .Photo img {
	border:solid 1px #ccc;
}
.AboutCai.CotegoryPage #BodyAreaLeft .BoxHeader {
	display:block;
	margin:-10px -15px 15px -15px;
	padding:15px 15px 10px 15px;
	font-size:18px;
	font-weight:bold;
	color:#228048;
	background:#efefef;
	border-bottom:solid 1px #ccc;
}
.AboutCai.CotegoryPage #BodyAreaLeft .Reason {
	margin:2px 0 2px 0;
	font-size:11px;
	color:#009900;
	display:block;
}
.AboutCai.CotegoryPage #BodyAreaLeft .Number {
	float:left;
	width:80px;
	margin:0 20px 0 0;
	font-size:22px;
	border-right:solid 1px #ccc;
	color:#009900;
	
}
.AboutCai.CotegoryPage #BodyAreaLeft h3 span {
	display:block;
	margin:0 0 0 0;
	font-size:12px;
	color:#005544;
}
.AboutCai.CotegoryPage #BodyAreaLeft h3 {
	font-size:22px;
	font-weight:bold;
	color:#009900;
}
.AboutCai.CotegoryPage #BodyAreaLeft .TextLeft {
	display:block;
	float:left;
	width:400px;
	margin:0px 15px 0 0;
}
.AboutCai.CotegoryPage #BodyAreaLeft .TextLeft p {
	margin:0 0 12px 0;
}
.AboutCai.CotegoryPage #BodyAreaLeft .Text {
	display:block;
	margin:0 15px 0 0;
}
.AboutCai.CotegoryPage #BodyAreaLeft .Photo {
	display:block;
	float:right;
}
.AboutCai.CotegoryPage #BodyAreaLeft .Caption {
	clear:both;
	display:block;
	margin:10px 0 0 0;
	font-size:10px;
	text-align:center;
}

/* --------------------------------------------------
	. AboutMessage
-------------------------------------------------- */

.AboutMessage #BodyAreaLeft .Message {
	clear:both;
	margin:20px 0 0 0;
	width:670px;
	line-height:2;
	text-align: justify;
	text-justify: inter-ideograph;
}
.AboutMessage #BodyAreaLeft  p.CEO {
	float:right;
	width:210px;
	text-align:right;
}
.AboutMessage #BodyAreaLeft p.BodyCopy {
	float:left;
	width:300px;
	padding:30px 0 0 10px;
	font-size:22px;
	line-height:2;
	color:#555;
	font-size:25px;
}
.AboutMessage #BodyAreaLeft .BodyCopy span {
	display:block;
	padding:0 0 0 15px;
	font-size:15px;
}
.AboutMessage #BodyAreaLeft .BodyCopy span.CEOname {
	margin:15px 0 40px 0;
	display:block;
	font-size:14px;
}

.AboutMessage #BodyAreaLeft .CEO {
	float:left;
	width:150px;
	padding:0 30px 15px 0;
}

/* --------------------------------------------------
	. AboutStrong
-------------------------------------------------- */

.AboutStrong.History.CotegoryPage #BodyAreaLeft .Number {
	width:60px;
	margin:-5px 20px 0 -10px;
	padding:0 10px 0 0;
	font-size:30px;
	color:#009900;
}

/* --------------------------------------------------
	.Plan
-------------------------------------------------- */

#BodyAreaLeft .Plan h2 {
	margin:20px 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}

#BodyAreaLeft .Plan h3 {
	clear:both;
	padding:10px;
	font-weight:bold;
	font-size:18px;
	background:#fff;
	border-left:solid 8px #228048;
	color:#228048;
}
#BodyAreaLeft .Plan .Box {
	padding:10px;
}
#BodyAreaLeft .Plan .Box p {
	margin:0 0 20px 0;
	padding:10px;
	font-weight:bold;
	font-size:14px;
	border:solid 2px #ccc;
}
#BodyAreaLeft .Plan .FundsTitle {
	clear:both;
	width:80px;
	margin:0 0 -2px 0;
	padding:5px 10px 5px 10px;
	color:#fff;
	background:#228048;
	font-weight:bold;
}
#BodyAreaLeft .Plan .FundsDetail {
	width:655px;
}
#BodyAreaLeft .Plan .FundsDetailTitle {
	margin:0 0 15px 0;
	display:block;
	border-bottom:solid 2px #aaa;
}
#BodyAreaLeft .Plan .Box .FundsDetail {
	margin:0 0 20px 0;
	padding:10px;
	font-weight:bold;
	font-size:14px;
	border:solid 2px #ccc;
}
#BodyAreaLeft .Plan .Box .FundsDetail {
	padding:10px 10px 10px 10px;
}
#BodyAreaLeft .Plan .Box .FundsDetail dt {
	clear:both;
	float:left;
	margin:0 0 10px 10px;
	width:300px;
	border-bottom:solid 1px #ccc;
	
}
#BodyAreaLeft .Plan .Box .FundsDetail dd {
	float:left;
	margin:0 0 10px 0;
	padding:0 10px 0 0;
	width:320px;
	text-align:right;
	border-bottom:solid 1px #ccc;
	
}
#BodyAreaLeft .Plan .BoxContract {
	width:675px;
	margin:0 10px 20px 10px;
	padding:0 0 10px 0;
	font-size:14px;
	border:solid 2px #ccc;
}
#BodyAreaLeft .Plan .BoxContract h4 {
	display:block;
	width:665px;
	height:30px;
	margin:-4px 0 15px -4px;
	padding:10px 0 0 15px;
	color:#fff;
	background:#228048;
	font-weight:bold;
}
#BodyAreaLeft .Plan .ContractDetail {
	margin:10px 0 20px 0;
	padding:10px 10px 10px 10px;
	font-size:14px;
}
#BodyAreaLeft .Plan .ContractDetail dt {
	clear:both;
	float:left;
	margin:0 0 10px 10px;
	width:150px;
	font-weight:bold;
	
}
#BodyAreaLeft .Plan .ContractDetail dd {
	float:left;
	width:400px;
	margin:0 0 10px 0;
	padding:0 10px 0 0;
}
#BodyAreaLeft .Plan .ContarctCaption {
	clear:both;
	padding:10px 0 0 10px;
	font-size:13px;
	border:none;
}
#BodyAreaLeft .Plan .ContarctCaption strong {
	color:#C30;
}

#BodyAreaLeft .Plan .PlanLayout {
	clear:both;
	margin:40px 0 0 0;
}
#BodyAreaLeft .Plan .PlanLayout p {
	font-size:14px;
}
#BodyAreaLeft .Plan .PlanLayout img {
	margin:20px 0 30px 60px;
}

#BodyAreaLeft .Plan .PlanLayoutLink {
	padding:10px;
	border:solid 2px #999;
}

/* --------------------------------------------------
	. AboutStrong
-------------------------------------------------- */

#BodyAreaLeft .OwnerVoiceBox h2 {
	margin:20px 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}

#BodyAreaLeft .OwnerVoiceBox span {
	padding:0 0 0 10px;
	font-size:12px;
	color:#333;
}


.OwnerPhoto {
	float:left;
	width:195px;
	margin:0 0 20px 15px;
}

#BodyAreaLeft .OwnerPhoto img {
	border:solid 4px #cfcfcf;
}

#BodyAreaLeft .OwnerVoiceBox h3 {
	float:left;
	width:450px;
	height:115px;
	margin:0 0 0 0;
	padding:30px 0 0 30px;
	font-size:20px;
	font-weight:bold;
	line-height:2;
	border:solid 4px #cfcfcf;
	
}
#BodyAreaLeft .OwnerVoiceBox h4 {
	clear:both;
	margin:10px 0 9px 15px;
	padding:5px 0 0 0;
	font-weight:bold;
	font-size:18px;
	color:#228048;
}
#BodyAreaLeft .OwnerVoiceBox p {
	margin:0 0 20px 15px;
	font-size:14px;
	line-height:1.75;
	text-align: justify;
	text-justify: inter-ideograph;

}


#BodyAreaLeft .OwnerVoiceTopBoxSpecial {
	clear:both;
	float:left;
	width:695px;
	margin:0 0 20px 0;
	border:solid 3px #ccc;
}
#BodyAreaLeft .OwnerVoiceTopBoxSpecial h2 {
	float:right;
	width:275px;
	padding:15px 0 0 0;
	font-size:30px;
}
#BodyAreaLeft .OwnerVoiceTopBoxSpecial  h2 span  {
	font-size:14px;
	padding:0 0 0 10px;
	color:#666;
}
#BodyAreaLeft .OwnerVoiceTopBoxSpecial  h2 span span {
	display:block;
	font-size:16px;
	padding:0 0 0 2px;
}
#BodyAreaLeft .OwnerVoiceTopBoxSpecial  p {
	float:left;
	font-size:16px;
}
#BodyAreaLeft .OwnerVoiceTopBoxSpecial  h3 {
	float:left;
	width:260px;
	padding:5px 5px 0 22px;
	font-size:16px;
	font-weight:bold;
	color:#666;
}


#BodyAreaLeft .OwnerVoiceTopBoxLeft a,
#BodyAreaLeft .OwnerVoiceTopBoxRight a,
#BodyAreaLeft .OwnerVoiceTopBox a,
#BodyAreaLeft .OwnerVoiceTopBoxSpecial a {
	color:#333;
}

#BodyAreaLeft .OwnerVoiceTopBoxLeft a:hover,
#BodyAreaLeft .OwnerVoiceTopBoxRight a:hover,
#BodyAreaLeft .OwnerVoiceTopBox a:hover,
#BodyAreaLeft .OwnerVoiceTopBoxSpecial a:hover {
	color:#666;
}
#BodyAreaLeft .OwnerVoiceTopBoxLeft:hover,
#BodyAreaLeft .OwnerVoiceTopBoxRight:hover,
#BodyAreaLeft .OwnerVoiceTopBox:hover,
#BodyAreaLeft .OwnerVoiceTopBoxSpecial:hover {
	border:solid 3px #999;
}

#BodyAreaLeft .OwnerVoiceTopBoxLeft  {
	width:340px;
	margin:0 6px 30px 0;
	border:solid 3px #ccc;
}
#BodyAreaLeft .OwnerVoiceTopBoxLeft  h2 {
	float:right;
	width:140px;
	padding:10px 0 0 0;
	font-size:16px;
}
#BodyAreaLeft .OwnerVoiceTopBoxLeft  h2 span  {
	font-size:11px;
	color:#666;
}
#BodyAreaLeft .OwnerVoiceTopBoxLeft  h2 span span {
	display:block;
	font-size:10px;
}
#BodyAreaLeft .OwnerVoiceTopBoxLeft  p {
	float:left;
	font-size:12px;
}
#BodyAreaLeft .OwnerVoiceTopBoxLeft  h3 {
	float:left;
	width:130px;
	padding:5px 10px 0 10px;
	font-size:11px;
}
#BodyAreaLeft .OwnerVoiceTopBoxRight {
	float:left;
	width:340px;
	border:solid 3px #ccc;
}
#BodyAreaLeft .OwnerVoiceTopBoxRight  h2 {
	float:right;
	width:140px;
	padding:10px 0 0 0;
	font-size:16px;
}
#BodyAreaLeft .OwnerVoiceTopBoxRight  h2 span  {
	font-size:11px;
	color:#666;
}
#BodyAreaLeft .OwnerVoiceTopBoxRight  h2 span span {
	display:block;
	font-size:10px;
}
#BodyAreaLeft .OwnerVoiceTopBoxRight  p {
	float:left;
	font-size:12px;
}
#BodyAreaLeft .OwnerVoiceTopBoxRight  h3 {
	float:left;
	width:130px;
	padding:5px 10px 0 10px;
	font-size:11px;
}


#BodyAreaLeft .OwnerVoiceTopBox  {
	clear:both;
	float:left;
	width:690px;
	margin:0 0 20px 0;
	border:solid 3px #ccc;
}
#BodyAreaLeft .OwnerVoiceTopBox  h2 {
	float:left;
	width:170px;
	padding:30px 0 0 0;
	font-size:16px;
}
#BodyAreaLeft .OwnerVoiceTopBox  h2 span  {
	padding:0 0 5px 5px;	
	font-size:11px;
	color:#666;
}
#BodyAreaLeft .OwnerVoiceTopBox  h2 span span {
	display:block;
	padding:0 0 5px 0;
	font-size:10px;
}
#BodyAreaLeft .OwnerVoiceTopBox  p {
	float:left;
	font-size:12px;
	margin:0 15px 0 0;
}

#BodyAreaLeft .OwnerVoiceTopBox  h3 {
	float:left;
	width:340px;
	height:60px;
	margin:15px 0 0 0;
	padding:15px 10px 0 20px;
	font-size:14px;
	font-weight:bold;
	color:#555;
	border-left:solid 2px #ccc;
}

.OwnerVoice .OwnerVoiceSI {
	clear:both;
	margin:20px 0 20px 0;
	padding:20px 0 0 0 ;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}

.OwnerVoice .OwnerVoiceBN {
	clear:both;
	margin:20px 0 20px 0;
	padding:20px 0 0 0 ;
	font-size:14px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 2px #228048;
}

.OwnerVoiceTopBoxSpecialPage dl {
	clear:both;
	margin:20px 0 20px 0;
}
.OwnerVoiceTopBoxSpecialPage dt {
	clear:both;
	float:left;
	width:150px;
	padding:5px 10px 5px 10px;
	border-top:solid 1px #999;
	border-left:solid 1px #999;
	border-right:solid 1px #999;
	border-bottom:solid 1px #999;
}

.OwnerVoiceTopBoxSpecialPage dd {
	float:left;
	width:506px;
	padding:5px 10px 5px 10px;
	border-top:solid 1px #999;
	border-right:solid 1px #999;
	border-bottom:solid 1px #999;
}
.OwnerVoiceTopBoxSpecialPage  h3 {
	clear:both;
	margin:0 0 0 -15px;
	padding:20px 0 20px 0;
}
.OwnerVoiceTopBoxSpecialPage  p {
	clear:both;
	padding:0 0 16px 0;
	font-size:16px;
	line-height:1.75;
}
.OwnerVoiceTopBoxSpecialPage  .Photoset {
	height:220px;
	margin:20px 0 0 0;
}
.OwnerVoiceTopBoxSpecialPage  .Photoset li {
	float:left;
	width:220px;
	margin:0 8px 0 0;
}
.OwnerVoiceTopBoxSpecialPage  .Photoset li .Last {
	margin:0;
}
.OwnerVoiceTopBoxSpecialPage  .Photoset img {
	border:solid 2px #ccc;
}
.OwnerVoiceTopBoxSpecialPage  .Photoset span {
	display:block;
	margin:5px 0 0 0;
	font-size:11px;
}


/* --------------------------------------------------
	.FaqBox
-------------------------------------------------- */
#BodyAreaLeft .FaqBox {
	clear:both;
	margin:20px 10px 0 10px;
	padding:20px 25px 20px 25px;
	border:solid 4px #228048;
}
#BodyAreaLeft .FaqBox h2 {
	margin:0 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}
#BodyAreaLeft .FaqBox h2 span {
	padding:0 10px 0 0;
	font-size:28px;
}
#BodyAreaLeft .FaqBox p {
	font-size:14px;
}
#BodyAreaLeft .FaqBoxAnswer {
	margin:0 0 0 20px;
}
#BodyAreaLeft .FaqBoxAnswer h3 {
	margin:0 0 10px 0;
	color:#FF6900;
	font-size:18px;
	font-weight:bold;
	border-bottom:solid 4px #FF6900;
}
#BodyAreaLeft .FaqBox h3 span {
	padding:0 10px 0 0;
	font-size:26px;
}
#BodyAreaLeft .FaqBox p {
	padding:0 0 14px 0;
	font-size:14px;
	text-align: justify;
	text-justify: inter-ideograph;
}


/* --------------------------------------------------
	.SystemFlow
-------------------------------------------------- */

.SystemFlow #BodyAreaLeft .Copy {
	margin:20px 0 30px 0;
}

.SystemFlow #BodyAreaLeft  h2 {
	margin:20px 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}

.SystemFlow #BodyAreaLeft .Box {
	clear:both;
	display:block;
	margin:0 0 20px 0;
	padding:10px 15px 10px 15px;
	font-size:14px;
	border:solid 1px #ccc;
}
.SystemFlow #BodyAreaLeft .BoxHeader {
	display:block;
	margin:-10px -15px 10px -15px;
	padding:15px 15px 10px 15px;
	font-size:18px;
	font-weight:bold;
	color:#228048;
	background:#efefef;
	border-bottom:solid 1px #ccc;
}
.SystemFlow #BodyAreaLeft .Number {
	float:left;
	width:130px;
	margin:0 20px 0 0;
	font-size:22px;
	border-right:solid 1px #ccc;
	color:#009900;
	
}
.SystemFlow #BodyAreaLeft h3 {
	font-size:22px;
	font-weight:bold;
	color:#009900;
}
.SystemFlow #BodyAreaLeft h4 {
	clear:both;
	padding:10px 0 10px 0;
	font-size:16px;
	font-weight:bold;
	color:#000;
}
.SystemFlow #BodyAreaLeft p {
	display:block;
	margin:0 0 12px 0;
}
.SystemFlow #BodyAreaLeft .TextLeft {
	display:block;
	float:left;
	width:400px;
	margin:0 15px 0 0;
}
.SystemFlow #BodyAreaLeft .Photo {
	display:block;
	float:right;
}
.SystemFlow #BodyAreaLeft .Photo img {
	border:solid 1px #ccc;
}

.StepCursor {
	text-align:center;
}


/* --------------------------------------------------
	.SystemSupport
-------------------------------------------------- */

.SystemSupport .SystemSupportBoxArea {
	margin:20px 0 40px 0;
}
.SystemSupport.CotegoryPage #BodyAreaLeft h2 {
	padding:20px 0 5px 0;
	margin:20px 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}
.SystemSupport .SystemSupportBoxArea h2 span {
	padding:0 2px 0 0;
	font-size:18px;
}
.SystemSupport .SystemSupportBox {
	margin:-2px 0 0 0;
	border:solid 2px #ccc;
	padding:20px;
}
.SystemSupport .SystemSupportBox h3 {
	font-size:14px;
	font-weight:bold;	
}
.SystemSupport .SystemSupportBox p {
	padding:0 0 14px 0;
	font-size:14px;
}
.SystemSupport .SystemSupportBoxArea h2.After {
	padding:10px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	background:#BA5998;
}
.SystemSupport .SystemSupportBoxArea h2.After span {
	padding:0 2px 0 0;
	font-size:18px;
}
.SystemSupport .SystemSupportBox .Left {
	float:left;
	width:450px;
}
.SystemSupport .SystemSupportBox .Right {
	float:right;
	width:200px;
	text-align:right;
}

.SystemSupport .After .SystemSupportBox .Left {
	clear:both;
	float:left;
	width:470px;
}
.SystemSupport .After .SystemSupportBox .Right {
	float:right;
	width:160px;
	text-align:right;
}
.SystemSupport .After .SystemSupportBox .Left350 {
	clear:both;
	float:left;
	width:360px;
	margin:0 15px 0 0;
}
.SystemSupport .After .SystemSupportBox .Right300 {
	float:left;
	width:200px;
	text-align:right;
}



.SystemSupport.CotegoryPage #BodyAreaLeft .Copy {
	padding:10px 0 0 0;
	font-size:16px;
	line-height:1.75;
	font-weight:bold;
	border:none;
}

.SystemSupport .CotegoryPage #BodyAreaLeft h2 {
	margin:20px 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}
.SystemSupport #BodyAreaLeft .Box {
	display:block;
	margin:0 0 20px 0;
	padding:10px 15px 15px 15px;
	font-size:14px;
	border:solid 1px #ccc;
}
.SystemSupport #BodyAreaLeft .Box .Photo img {
	border:solid 1px #ccc;
}

.SystemSupport.CotegoryPage #BodyAreaLeft .BoxHeader {
	display:block;
	margin:-10px -15px 15px -15px;
	padding:15px 15px 10px 15px;
	font-size:18px;
	font-weight:bold;
	color:#228048;
	background:#efefef;
	border-bottom:solid 1px #ccc;
}



.SystemSupport.CotegoryPage #BodyAreaLeft h3 {
	font-size:22px;
	font-weight:bold;
	color:#009900;
}
.SystemSupport.CotegoryPage #BodyAreaLeft .TextLeft {
	display:block;
	float:left;
	width:400px;
	margin:0px 15px 0 0;
}
.SystemSupport.CotegoryPage #BodyAreaLeft .TextLeft p {
	margin:0 0 12px 0;
}
.SystemSupport.CotegoryPage #BodyAreaLeft .Text {
	display:block;
	margin:0 15px 0 0;
}
.SystemSupport.CotegoryPage #BodyAreaLeft .Photo {
	display:block;
	float:right;
}
.SystemSupport.CotegoryPage #BodyAreaLeft .Caption {
	clear:both;
	display:block;
	margin:10px 0 0 0;
	font-size:10px;
	text-align:center;
}


/* --------------------------------------------------
	.Topics
-------------------------------------------------- */

.Topics #TopicsIndex h2 {
	margin:20px 0 10px 0;
	font-size:16px;
	font-weight:bold;
	border-bottom:solid 2px #228048;
}
.Topics #TopicsIndex p {
	padding:10px 10px 13px 10px;
	font-size:13px;
}
	

/* --------------------------------------------------
	.Open
-------------------------------------------------- */

#info {
	font-size:14px;
	margin:0 0 0 20px;
	padding:10px 0 0 0;
}
#info span {
	margin:0 20px 0 0;
}
#info li {
	margin:0 0 2px 0;
}

/* --------------------------------------------------
	.Sitemap
-------------------------------------------------- */

.Sitemap {
	margin:20px 0 0 20px;
}

.Sitemap li {
	margin:0 0 10px 0;
}
.Sitemap li ul {
	margin:10px 0 0 0;
}

.Sitemap li {
	padding:0 22px 0 20px;
	background:url(../images/LinkHead_off.png) no-repeat 0 2px;
}
.Sitemap li:hover {
	background:url(../images/LinkHead_on.png) no-repeat 0 2px;
}


/* --------------------------------------------------
	.Simulation
-------------------------------------------------- */

.Simulation #BodyAreaLeft .Outline {
	margin:0 0 0 10px;
	padding:15px 20px 15px 20px;
	border:solid 1px #ccc;
}
.Simulation #BodyAreaLeft .Outline h2 {
	margin:0 0 20px 0;
	font-weight:bold;
	border-bottom:solid 2px #666;
}
.Simulation #BodyAreaLeft .Outline dt {
	clear:both;
	float:left;
	width:90px;
	margin:0 30px 10px 10px;
	padding:5px 10px 5px 10px;
	color:#fff;
	font-weight:bold;
	background:#666;
}
.Simulation #BodyAreaLeft .Outline dd {
	float:left;
	width:470px;
	margin:0 0 10px 0;
	padding:5px 0 0 0;
	font-size:13px;
}
.Simulation  #BodyAreaLeft .SimulationBox {
	margin:20px 0 0 10px;
	padding:15px 20px 15px 20px;
	border:solid 1px #ccc;
}
.Simulation  #BodyAreaLeft .SimulationBoxHeader h3{
	color:#fff;
	display:block;
	margin:-15px -20px 15px -20px;
	padding:15px 15px 10px 15px;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	background:#228048;
	border-bottom:solid 1px #ccc;
}

.SimulationBox table {
	width:650px;
	border:solid 1px #ccc;
}
.SimulationBox table th {
	width:200px;
	padding:10px;
	border:solid 1px #ccc;
	font-weight:bold;
	font-size:13px;
	background:#efefef;
}
.SimulationBox table td {
	padding:10px;
	border:solid 1px #ccc;
}
.SimulationBox table .Calc {
	text-align:right;
}
.SimulationBox table .Digit {
	text-align:right;
}
.SimulationBox table .Total {
	font-weight:bold;
	font-size:16px;
	border:solid 4px #FFB602;
}
.SimulationBox table .Total th {
	font-size:16px;t
}

.SimulationBox table .Caption {
	font-size:10px;
}




/* --------------------------------------------------
	. History
-------------------------------------------------- */

.History.CotegoryPage #BodyAreaLeft .BodyCopy {
	padding:10px 0 0 0;
	font-size:16px;
	line-height:1.75;
	font-weight:bold;
	border:none;
}

.History.CotegoryPage #BodyAreaLeft h2 {
	margin:20px 0 20px 0;
	font-size:20px;
	font-weight:bold;
	color:#228048;
	display:block;
	border-bottom:solid 4px #228048;
}
.CotegoryPage #BodyAreaLeft .Box {
	display:block;
	margin:30px 0 20px 0;
	padding:10px 15px 15px 15px;
	font-size:14px;
	border:solid 1px #ccc;
}
.CotegoryPage #BodyAreaLeft .Box .Photo img {
	border:solid 1px #ccc;
}
.History.CotegoryPage #BodyAreaLeft .BoxHeader {
	display:block;
	margin:-10px -15px 15px -15px;
	padding:15px 15px 10px 15px;
	font-size:18px;
	font-weight:bold;
	color:#228048;
	background:#efefef;
	border-bottom:solid 1px #ccc;
}
.History.CotegoryPage #BodyAreaLeft .Reason {
	margin:2px 0 2px 0;
	font-size:11px;
	color:#009900;
	display:block;
}
.History.CotegoryPage #BodyAreaLeft .Number {
	float:left;
	width:80px;
	margin:0 20px 0 0;
	font-size:22px;
	border-right:solid 1px #ccc;
	color:#009900;
	
}
.History.CotegoryPage #BodyAreaLeft h3 span {
	display:block;
	margin:0 0 0 0;
	font-size:12px;
	color:#005544;
}
.History.CotegoryPage #BodyAreaLeft h3 {
	font-size:18px;
	font-weight:bold;
	color:#009900;
}
.History.CotegoryPage #BodyAreaLeft .TextLeft {
	display:block;
	float:left;
	width:400px;
	margin:0px 15px 0 0;
}
.History.CotegoryPage #BodyAreaLeft .TextLeft p {
	margin:0 0 12px 0;
}
.History.CotegoryPage #BodyAreaLeft .Text {
	display:block;
	margin:0 15px 0 0;
}
.History.CotegoryPage #BodyAreaLeft .Photo {
	display:block;
	float:right;
}
.History.CotegoryPage #BodyAreaLeft .Caption {
	clear:both;
	display:block;
	margin:10px 0 0 0;
	font-size:10px;
	text-align:center;
}

.HistoryList dl {
	margin:20px 0 0 0;
}
.HistoryList dt {
	display:block;
	clear:both;
	float:left;
	width:100px;
	height:50px;
	margin:0 0 5px 0;
	padding:10px 15px 10px 15px;
	border:solid 1px #666;
	background:#666;
	font-size:14px;
	color:#fff;
}
.HistoryList dd {
	display:block;
	float:left;
	width:535px;
	height:50px;
	margin:0 0 5px 0;
	padding:10px 15px 10px 15px;
	border:solid 1px #999;
	font-size:14px;
}


/* --------------------------------------------------
	. LocalNavi
-------------------------------------------------- */

#LocalNavi {
	background:url(../images/common/LocalNaviBGTop.png) no-repeat;
}
#LocalNavi h2 {
	height:27px;
	padding:15px 0 0 20px;
	color:#fff;
	font-size:10px;
}
#LocalNavi ul {
	width:247px;
	background:url(../images/common/LocalNaviBG.png) repeat-y;
}
#LocalNavi h2 a {
	color:#fff;
}
#LocalNavi li {
	width:230px;
	margin:0 0 0 10px;
}
#LocalNavi li:hover {
	width:230px;
	background:#f0f0f0;
}
#LocalNavi li.On {
	width:230px;
	background:#e0e0e0;
	font-weight:bold;
}
#LocalNavi li a {
	display:block;
	width:210px;
	padding:15px 0 10px 25px;
	color:#333;
	background:url(../images/common/LocalNaviLinkHead.png) no-repeat 15px 20px;
	border-bottom:solid 1px #ccc;
}
#LocalNavi li.LocalNaviLast a {
	border-bottom:none;
}
#LocalNaviBottom {
	width:240px;
	height:14px;
	background:url(../images/common/LocalNaviBGBottom.png) no-repeat;
}





/* --------------------------------------------------
	. History
-------------------------------------------------- */

#BodyAreaLeft .OwnerVoiceTopBoxSpecial  h2 span.Icon  {
	float:left;
	width:100%;
	display:block;
	padding:0 0 5px 0;
}

.StoryTopBoxSpecialPage {
	font-size:14px;
}

.StoryTopBoxSpecialPage  h3 {
	clear:both;
	padding:10px 0 10px 0;
	font-weight:bold;
}
.StoryTopBoxSpecialPage  h4 {
	font-weight:bold;
	font-size:12px;
}
.StoryTopBoxSpecialPage  p.ArticleCategory {
	font-size:12px;
}
.StoryTopBoxSpecialPage  p {
	clear:both;
	padding:0 0 16px 0;
	line-height:1.75;
}
.StoryTopBoxSpecialPage  .Photoset {
	height:220px;
	margin:20px 0 0 0;
}
.StoryTopBoxSpecialPage  .Photoset li {
	float:left;
	width:220px;
	margin:0 8px 0 0;
}
.StoryTopBoxSpecialPage  .Photoset li .Last {
	margin:0;
}
.StoryTopBoxSpecialPage  .Photoset img {
	border:solid 2px #ccc;
}
.StoryTopBoxSpecialPage  .Photoset span {
	display:block;
	margin:5px 0 0 0;
	font-size:11px;
}

#Banner li.SlideBannerContact {
	text-align:left;
}
.SideBannerContact {
	width:236px;
	height:325px;
	margin:0 0 0 5px;
	background:url(../images/common/SideBannerContact.png) no-repeat;
}
.SideBannerContactBtn01 {
	display:block;
	margin:0;
	padding:98px 0 0 0;
}
.SideBannerContactBtn02 {
	display:block;
	margin:0;
	padding:10px 0 0 0;
}


#PageFotterContactAreaTop {
	clear:both;
	width:727px;
	height:116px;
	background:url(../images/common/BottomContactTop.png) no-repeat;
	text-align:right;
}
#PageFotterContactAreaTop p {
	padding:60px 12px 0 0;
}

#PageFotterContactAreaPage {
	clear:both;
	display:block;
	width:704px;
	height:116px;
	margin:40px 0 0 0;
	background:url(../images/common/BottomContactPage.png) no-repeat;
	text-align:right;
}
#PageFotterContactAreaPage p {
	padding:60px 10px 0 0;
}




/* --------------------------------------------------
	LandingPage
-------------------------------------------------- */

.LandingPage #HeaderContents {
	width:1000px;
}
.LandingPage #HeaderContents h1 {
	float:left;
}
.LandingPage #HeaderContents h2 {
	float:left;
}

.LandingPage #BodyArea {
	width:1000px;
	margin:0 auto;
}

.LandingPage #Footer {
	padding:20px 20px;
	border-top:solid 4px #008a31;
}
.LandingPage #Footer a {
	color:#07c;
	font-size:13px;
	text-decoration:underline;
}

/* --------------------------------------------------
	Victory
-------------------------------------------------- */

.Victory {
	text-align:center;
}



/* --------------------------------------------------
	Add 20140617
-------------------------------------------------- */


#PageFotterContactAreaTop p.TopFbBanner {
	clear:both;
	margin:0;
	padding:30px 0 0 2px;
	text-align:left;
}

/* --------------------------------------------------
	Add 20140714
-------------------------------------------------- */

#OwnerGallery {
	padding:15px 0 0 4px;
}
#OwnerGallery li {
	float:left;
	padding:0 3px 3px 0;
}