@charset "shift_jis";

body {
	text-align:center;
}

a {
	cursor:pointer;
}

#HeaderContents {
	text-align:left;
}



#BodyFeature .OwnerVoiceTop .OwnerPhoto {
	margin:0 0 10px 5px;
}

.SitePath {
	text-align:left;
}

##BodyArea {
	text-align:left;
}
#BodyAreaLeft {
	text-align:left;
}

#BodyAreaLeft h1 {
	height:35px;
	width:680px;
	margin:5px 0 10px 0;
	padding:8px 0 0 25px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	background:url(../images/common/TitleBG.png) no-repeat;
}


.CotegoryPage #BodyAreaLeft .Box {
	padding:10px 0 10px 15px;
}


#BodyAreaLeft .Plan .FundsTitle {
	width:100px;
	margin:0;
}
#BodyAreaLeft .Plan .ContractDetail {
	padding:10px 0 10px 10px;
}




.SystemFlow #BodyAreaLeft .Box {
	padding:10px 0 10px 15px;
}
.SystemFlow #BodyAreaLeft .BoxHeader {
	margin:-10px 0 10px -15px;
	padding:15px 0 10px 15px;
}
.SystemFlow #BodyAreaLeft p {
	display:block;
	margin:0 0 10px 0;
}

.OwnerPhoto {
	float:left;
	width:195px;
	margin:0 0 20px 15px;
}

#BodyAreaLeft .OwnerPhoto img {
	border:solid 4px #cfcfcf;
}

#BodyAreaLeft .OwnerVoiceBox h3 {
	float:left;
	width:400px;
	height:115px;
	margin:0 0 0 0;
	padding:30px 0 0 30px;
	font-size:20px;
	font-weight:bold;
	line-height:2;
	border:solid 4px #cfcfcf;
	
}

#BodyAreaRight {
	text-align:left;
	margin-left:20px;
}



.CotegoryMenu  li {
	float:left;
	height:180px;
	width:300px;
	padding:10px 15px 10px 15px;
	margin:0 10px 0 0;
	border:solid 1px #228048;
}
.CotegoryMenu  li:hover {
	background:none;
}

#LocalNavi ul {
	background:url(../images/common/LocalNaviBG.png) repeat-y;
}
#LocalNavi h2 a {
.CotegoryMenu  li a:link, .CotegoryMenu  li a:visited {
	color:#333;
}
.CotegoryMenu li a:hover {
	text-decoration:none;
	background:none;
	color:#04c;
}

.CotegoryMenu  li h2 {
	padding:10px 10px 5px 10px;
}

.CategoryTop #BodyAreaLeft .CotegoryMenu  li p {
	padding:10px 0 0 0;
	font-size:11px;
	font-weight:bold;
}

.CotegoryMenu li span {
	clear:both;
	display:block;
	padding:10px 0 0 0 ;
	text-align:right;
	font-weight:bold;
	color:#04c;
	font-size:10px;
}


#LocalNavi {
	width:247px;
	height:30px;
}
#LocalNavi li {
}
#LocalNavi li:hover {
}
#LocalNavi li.On {
}
#LocalNavi li a {
	width:200px;
	background:none;
}
#LocalNavi li.LocalNaviLast a {
}
#LocalNaviBottom {
	background:url(../images/common/LocalNaviBGBottom.png) no-repeat;
}


#FotterContents {
	margin:0 auto;
	padding:0 0 0 0;
	width:980px;
	height:246px;
}

.FotterNavi {
	float:left;
	height:186px;
	margin:20px 10px 0 0;
	padding:0 16px 0 0;
	background:url(../images/FooterContentsLineBG.png) no-repeat right;
}
#FooterAction {
	padding:20px 0 0 0;
}

#FooterRemoteNavi {
	padding:21px 0 0 0;
}




.FotterNavi {
	background:none;
}
.FotterNavi li {
	background:none;
}
.FotterNavi li ul li {
	background:none;
}



.AboutCai.CotegoryPage #BodyAreaLeft .Number {
	float:left;
	width:80px;
	margin:0 20px 0 0;
	font-size:20px;
	border-right:solid 1px #ccc;
	color:#009900;
	
}


.AboutCai.CotegoryPage #BodyAreaLeft .TextLeft {
	width:380px;
}
.AboutCai.CotegoryPage #BodyAreaLeft .Photo {
	display:block;
	float:right;
	padding:0 10px 0 0;
}
#BodyAreaLeft .OwnerVoiceTopBoxSpecial h3 {
	font-size:12px;
}
#BodyAreaLeft .OwnerVoiceTopBox h2 {
	border-bottom:none;
	color:#333;
	padding-top:8px;
}

#BodyAreaLeft .OwnerVoiceBox h3 {
	font-size:12px;
	
}


#BodyAreaLeft .OwnerVoiceTopBox  {
	clear:both;
	float:left;
	width:690px;
	margin:0 0 20px 0;
	border:solid 3px #ccc;
}
#BodyAreaLeft .OwnerVoiceTopBox  h2 {
	float:left;
	width:170px;
	padding:10px 0 0 0;
	font-size:12px;
}
#BodyAreaLeft .OwnerVoiceTopBox  h2 span  {
	padding:0 0 5px 5px;	
	font-size:11px;
	color:#666;
}
#BodyAreaLeft .OwnerVoiceTopBox  h2 span span {
	display:block;
	padding:0 0 5px 0;
	font-size:10px;
}
#BodyAreaLeft .OwnerVoiceTopBox  p {
	float:left;
	font-size:12px;
	margin:0 15px 0 0;
}

#BodyAreaLeft .OwnerVoiceTopBox  h3 {
	float:left;
	width:340px;
	height:60px;
	margin:10px 0 0 0;
	padding:15px 10px 0 20px;
	font-size:10px;
	font-weight:bold;
	color:#555;
	border-left:solid 2px #ccc;
}
#BodyAreaLeft .OwnerVoiceTopBoxSpecial  h3 {
	float:left;
	width:260px;
	padding:5px 5px 0 22px;
	font-size:10px;
	font-weight:bold;
	color:#666;
}

#BodyAreaLeft .OwnerFooterLink  h3 {
	font-size:10px;
}